<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
   <title>TicTacToe</title>
   <link rel="stylesheet" type="text/css" href="style.css">
   <script src="angular.js"></script>
   <script type="text/javascript" src="firebase.js"></script>
   <script type="text/javascript" src="angularfire.js"></script>
   <script src="app.js"></script>
   <script src="TTTController.js"></script>
</head>

<body ng-app="tttApp">
{{2+2}}
   <div id="container" ng-controller="TTTController as tttCtrl">

      <div ng-repeat="boxes in tttCtrl.boxes">
        <!-- <div class="board"> -->
        <button class="box" ng-class="boxes.select" ng-click="tttCtrl.clickedBox($index)">{{boxes.box}}</button>
      
   </div>
  </div>

  
</body>
</html>